{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div class="flex flex-col items-center justify-center h-screen pt-10">
        <div class="mb-8">
            <h1 class="text-6xl font-bold text-primary">PROFILE</h1>
        </div>

        <div class="max-w-md mx-auto p-6 bg-white shadow-lg rounded-md shadow-md">
            <div class="mb-6">
                <p class="text-lg font-bold mb-2 text-primary">Logged in Duck:</p>
                <p class="mb-2"><strong>Duckname:</strong> {{ app.user.duckname }}</p>
                <p class="mb-2"><strong>First name:</strong> {{ app.user.firstname }}</p>
                <p class="mb-4"><strong>E-mail:</strong> {{ app.user.email }}</p>
            </div>

            <div class="flex justify-end">
                <a href="{{ path('app_profile_edit') }}" class="btn btn-secondary">Edit Profile</a>
                <a href="{{ path('app_quack_index') }}" class="btn btn-secondary">All Quacks</a>
            </div>
        </div>
    </div>

{% endblock %}
