{% extends 'base.html.twig' %}

{% block title %}Hello QuackNetController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        <img src="{{ asset('images/quackLogo.webp') }}" alt="quack_logo">

        <h1>Hello mofo ✅</h1>

        <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
        <a href="{{ path('app_register') }}" class="btn btn-base">Register</a>
        <a href="{{ path('app_quack_index') }}" class="btn btn-accent">Quacks</a>
        <a href="{{ path('app_logout') }}" class="btn btn-primary">Logout</a>

    </div>
{% endblock %}
