{#{% extends 'base.html.twig' %}#}

{#{% block title %}QuackNet{% endblock %}#}

{#{% block body %}#}
{#    <style>#}
{#        .example-wrapper {#}
{#            margin: 1em auto;#}
{#            max-width: 800px;#}
{#            width: 95%;#}
{#            font: 18px/1.5 sans-serif;#}
{#        }#}

{#        .example-wrapper code {#}
{#            background: #F5F5F5;#}
{#            padding: 2px 6px;#}
{#        }#}
{#    </style>#}

{#    <div class="example-wrapper">#}

{#        <img src="{{ asset('images/quackLogo.webp') }}" alt="quack_logo">#}

{#        {% if not app.user %}#}
{#            <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>#}
{#        {% endif %}#}
{#        {% if app.user %}#}
{#        <a href="{{ path('app_profile') }}" class="btn btn-accent">Profile</a>#}
{#        {% endif %}#}
{#        {% if not app.user %}#}
{#        <a href="{{ path('app_register') }}" class="btn btn-base">Register</a>#}
{#        {% endif %}#}
{#        <a href="{{ path('app_quack_index') }}" class="btn btn-accent">Quacks</a>#}
{#        {% if app.user %}#}
{#        <a href="{{ path('app_logout') }}" class="btn btn-primary">Logout</a>#}
{#        {% endif %}#}

{#    </div>#}
{#{% endblock %}#}

{% extends 'base.html.twig' %}

{% block title %}QuackNet{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center min-h-screen bg-primary p-4">
        <img src="{{ asset('images/quackLogo.webp') }}" alt="quack_logo" class="mb-8 mask mask-hexagon">

        <div class="text-center mb-6">
            <h1 class="text-6xl font-bold text-white mb-4">Welcome to QuackNet</h1>
            <p class="text-xl text-gray-200">The premier network for ducks around the world!</p>
        </div>

        <div class="flex flex-wrap justify-center gap-4">

            <a href="{{ path('app_quack_index') }}" class="btn btn-lg btn-secondary">Quack Feed</a>
        </div>

        <div class="fixed top-4 right-6 z-50 flex items-center space-x-4">
            {% if not app.user %}
                <a href="{{ path('app_login') }}" class="btn btn-accent">Login</a>
                <a href="{{ path('app_register') }}" class="btn btn-secondary">Register</a>
            {% else %}
                <a href="{{ path('app_profile') }}" class="btn btn-accent">Profile</a>
                <a href="{{ path('app_logout') }}" class="btn btn-secondary">Logout</a>
            {% endif %}
        </div>


    </div>
{% endblock %}
