{% extends 'base.html.twig' %}

{% block title %}Quack{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center min-h-screen bg-primary p-4">
        <div class="w-full max-w-2xl bg-white rounded-lg shadow-md p-6 relative">

            <div class="absolute top-2 right-2 text-sm text-gray-500">
                {{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i') : '' }}
            </div>

            <h1 class="text-xl font-bold mb-4">{{ quack.user.duckname }}</h1>

            <table class="table-auto w-full mb-4">
                <tbody>

                <tr class="border-b hover:bg-gray-100">
                    <th class="px-4 py-2 text-left text-primary">Quack</th>
                    <td class="px-4 py-2">{{ quack.content }}</td>
                </tr>

                <tr class="border-b">
                    <th class="px-4 py-2 text-left text-primary">Tags</th>
                    <td {% if quack.tag %}
                        <div class=" p-2 rounded-b-md mb-4">
                            {% for tag in quack.tag|split(',') %}
                                <span class="bg-secondary text-white rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2">💦 {{ tag }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </tr>
                </tbody>
            </table>

            {% if quack.imageName %}
                <div class="flex justify-center mb-4 mt-6">
                    <img src="{{ asset('uploads/quack_images/' ~ quack.imageName) }}" alt="Quack Image"
                         class="max-w-xs rounded-md">
                </div>
            {% endif %}
            <div class="mt-8">
                <h2 class="text-lg font-bold mb-4">Comments</h2>
                <div class="space-y-4">
                    {% for comment in quack.getQuacks %}
                        <div class="bg-gray-100 p-4 rounded-md relative">
                            <p class="text-sm text-gray-600">{{ comment.getUser.duckname }} replied:</p>
                            <p>{{ comment.getContent }}</p>

                            {% if comment.getTag %}
                            {% for tag in comment.getTag|split(',') %}
                                <span class="bg-secondary text-white rounded-full px-3 py-1 text-xs font-semibold mr-2 mb-2">💦 {{ tag }}</span>
                            {% endfor %}
                            {% endif %}
                            {% if comment.getImageName %}
                                <div class="flex justify-center mb-4 mt-6">
                                    <img src="{{ asset('uploads/quack_images/' ~ comment.getImageName) }}" alt="Quack Image"
                                         class="max-w-xs rounded-md">
                                </div>
                            {% endif %}
                            {% if comment.getUser.id is same as (app.user.id) %}
                                <a href="{{ path('app_quack_edit', {'id': comment.getId}) }}" class="btn btn-xs btn-ghost absolute bottom-2 right-2">Edit</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <p>No comments yet.</p>
                    {% endfor %}
                </div>
            </div>

            <div class="flex justify-center mt-4 space-x-2 mt-6">
                <a href="{{ path('app_quack_index') }}" class="btn btn-secondary">Back</a>
                {% if quack.user.id is same as (app.user.id) %}
                    <a href="{{ path('app_quack_edit', {'id': quack.id}) }}" class="btn btn-primary">Edit</a>
                {% endif %}
                <a href="{{ path('app_quack_newComment', {'id': quack.id}) }}" class="btn btn-primary">Comment</a>
                {% if quack.user.id is same as (app.user.id) %}
                {{ include('quack/_delete_form.html.twig') }}
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}