

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="flex flex-col items-center justify-center h-screen pt-10">
    <div class="mb-8">
        <h1 class="text-8xl font-bold mt-20 text-primary">IDENTIFY YOURSELF DUCK!</h1>
    </div>

    <div class="flex items-center justify-center h-screen">

        <div class="max-w-md mx-auto p-6 bg-primary rounded-md shadow-xl">
            {% if error %}
                <div class="mb-4 text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

{#            <form action="{{ path('app_login') }}" method="post">#}
                <form action="{{ path('app_login') }}" method="post">

                <div class="mb-4">
{#                    <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Duck name:</label>#}
                    <label for="inputUsernameOrEmail" class="block text-gray-700 text-sm font-bold mb-2">Duck name:</label>


                    {#                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="border rounded-md py-2 px-3 w-full">#}
                    <input type="text" id="inputUsernameOrEmail" name="_username_or_email" placeholder="Username or Email" required>

                </div>

                <div class="mb-4">
                    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                    <input type="password" id="password" name="_password" class="border rounded-md py-2 px-3 w-full">
                </div>

                {# If you want to control the URL the user is redirected to on success
                <input type="hidden" name="_target_path" value="/account"> #}

                <div class="flex justify-center">
                    <div class="w-1/2 float-left">
                        <button type="submit" class="text-white py-2 px-4 rounded-md">Login</button>
                    </div>
                    <div class="w-1/2 float-right">
                        <button type="button" class="text-white py-2 px-4 rounded-md" onclick="window.location.href='{{ path('app_register') }}'">or Register</button>
                    </div>
                </div>



            </form>
        </div>
    </div>

{% endblock %}